body, html {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.featured-image {
  background-image: url("https://res.cloudinary.com/laurameehan/image/upload/v1573887135/thought-2123970_1920_o3fl68.jpg");
  height: 100vh;
  min-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.caption {
  display: flex;
  height: 100%;
  font-family: 'Playfair Display', serif;
  color: #fff;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 30px;
}

#projects h3 {
  font-family: 'Playfair Display', serif;
}
