$deepPurple_1: #3F3D56;
$lightSkyPurple_2: #7570C5;
$darkSkyPurple_5: #2F2C6B;
$brightPurple_3: #6C63FF;
$mediumPurple_4: #4C46B3;
$richPurple_5: #2E2A6C;

body, html {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient($deepPurple_1, $lightSkyPurple_2, $deepPurple_1);
  background-repeat: no-repeat;
}

.navbar-brand {
  font-family: 'Playfair Display', serif;
}

.featured-image {
  background-image: url(../images/undraw_working_late_pukg.svg);
  height: 100vh;
  min-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.caption {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  color: #fff;
  padding-left: 180px;
  font-family: 'Playfair Display', serif;

  p {
    font-size: 1.5em;
  }
}

.headers {
  font-family: 'Playfair Display', serif;
  font-size: 2.5em;
  color: #fff;
}

//    About Section
#about-me {
  background-color: $deepPurple_1;
  h5 a {
    color: #fff;
  }
  p {
    font-size: 18px;
    line-height: 1.8;
    color: #fff;
  }
  #about-me-card {
    background-color: $mediumPurple_4;
    border-radius: 6px;
    img {
      position: relative;
      z-index: 1;
      top: -40px;
      background-color: $richPurple_5;
      box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56),
      0 4px 25px 0px rgba(0, 0, 0, 0.12),
      0 8px 10px -5px rgba(0, 0, 0, 0.2);
    }
    .card-body {
      position: relative;
    }
  }
  #about-story {
    background-color: $brightPurple_3;
  }
  #work-in-progress {
    background-color: $lightSkyPurple_2;
    img {
      position: relative;
      z-index: 1;
      background-color: $richPurple_5;
      box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56),
      0 4px 25px 0px rgba(0, 0, 0, 0.12),
      0 8px 10px -5px rgba(0, 0, 0, 0.2);
    }
  }
}

// About - Skills section
#skills {
  background-color: $mediumPurple_4;
  border-radius: 6px;
  h4 {
    color: $lightSkyPurple_2;
  }
  p {
    display: grid;
    grid-template-columns: 40px 1fr;
    background-color: $richPurple_5;
    i {
      color: #6C63FF;
      font-size: 30px;
    }
    img {
      width: 30px;
      height: 30px;
      color: #6C63FF;
    }
  }
}

//    Projects Section
#projects {
  background-color: $deepPurple_1;
  hr {
  border-top: 2px dotted $lightSkyPurple_2;
  padding-bottom: 32px;
  margin: 0;
  }
  .card {
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56),
    0 4px 25px 0px rgba(0, 0, 0, 0.12),
    0 8px 10px -5px rgba(0, 0, 0, 0.2);
  }
  ion-icon, i {
    color: $brightPurple_3;
    background-color: $richPurple_5;
    padding: 10px;
    font-size: 120px;
    border-radius: 50%;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56),
    0 4px 25px 0px rgba(0, 0, 0, 0.12),
    0 8px 10px -5px rgba(0, 0, 0, 0.2);
  }
  h5 {
    color: $richPurple_5;
  }
  p {
    color: $lightSkyPurple_2;
  }
}

//    Contact Section
#contact {
  background-color: #3f3d56;
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%237570c5' fill-opacity='0.44'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  padding-bottom: 70px;
}
